!!!
%html

  %head
    %meta{charset: 'utf-8'}
    %script{src: 'https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'}
    %script{src: "bower_components/jquery/dist/jquery.min.js" }
    %link{href: 'https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css', rel:'stylesheet'}
    :css
      body { margin:0; padding:0; font-family: 'Menlo' }
      #map {
        width:100%;
        height: 500px;
        }
      p {
        text-align: center
      }
      .do_stuff {
        padding: 5px 10px;
        margin: 3px;
        border: 2px dotted teal;
        background: turquoise;
        border-radius: 5px;
      }
      .do_stuff:hover {
        cursor: pointer
      }

  %body
    %div#map
    %p
      %a.do_stuff#daves_house Go to Dave's House
      %a.do_stuff#makers Go to Makers
      %a.do_stuff#boom Import Marker
    :javascript
      L.mapbox.accessToken = 'pk.eyJ1IjoiZ3lwc3lkYXZlNSIsImEiOiIxTmJIeHJNIn0.a1tH004BEEbTs0k5UhIF0Q';
      var map = L.mapbox.map('map', 'gypsydave5.jnnf7a4f')
      .setView([51.523374017036076, -0.08701354265213013], 17);

      var geojson = [
        {
            "type" : "Feature",
            "geometry":{
              "coordinates":[ -0.16410291194915771, 51.441523196862875 ],
              "type":"Point"
              },
            "properties":{
              "description":"It's where Dave lives",
              "title":"Dave's House"
           },
        }
      ]

      var londonWall = {
          "type": "Feature",
          "properties": {
            "description" : "The original Roman wall in London",
            "title" : "London Wall",
            "color" : "orange"
          },
          "geometry": {
            "type": "Polygon",
            "coordinates": [
              [ [ -0.07475852966308594, 51.507300079506656 ],
                [ -0.07475852966308594, 51.510558723334285 ],
                [ -0.08136749267578125, 51.51616731848544 ],
                [ -0.08969306945800781, 51.5177162373547 ],
                [ -0.09776115417480469, 51.51776964741072 ],
                [ -0.10076522827148438, 51.515526371131976 ],
                [ -0.10179519653320312, 51.51082581495246 ],
                [ -0.09080886840820312, 51.510291630150256 ],
                [ -0.07965087890625, 51.508421934016845 ],
                [ -0.07475852966308594, 51.507300079506656 ]
              ]
            ]
            }
          }

      var davesHouse = L.mapbox.featureLayer(geojson).addTo(map);
      var londonLayer = L.geoJson().addTo(map);

      $(document).ready(function(){

        $('#daves_house').on('click', function(){
           map.setView([ 51.441523196862875, -0.16410291194915771], 14)
        });

        $('#makers').on('click', function(){
           map.setView([51.523374017036076, -0.08701354265213013], 17)
        });

        $('#boom').on('click', function(){
          //  L.mapbox.featureLayer(londonWall).addTo(map);
          londonLayer.clearLayers()
          londonLayer.addData( londonWall, {
            onEachFeature: function(feature, layer) {
                layer.bindPopup(feature.properties.description)
            }
          })
          console.log(londonWall.geometry.coordinates[0][0]);
            map.setView([londonWall.geometry.coordinates[0][0][1], londonWall.geometry.coordinates[0][0][0]], 12,
              {
              pan : {animate : true, duration: 50000},
              zoom : {animate : true}
              });
        });
      });
      //map.featureLayer.setGeoJSON(geojson);
